.message {
	margin-top: 10px;
	border-radius: 10px;
	padding: 15px;
}
.message_user {
	font-size: 0.9em;
}
.message_content {
	font-size: 1.5em;
}
label span.error {
	color: #F00;
	display: none;
}
label span.error.show {
	display: inline-block !important;
}
.user {
	margin-top: 5px;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
}
.msg_response {
	padding: 10px;
	display: none;
    margin-bottom: 20px;
}

.red_border {
	border-color: red;
}
